@import "styles/vars";

.dropdown {
  position: relative;
  display: flex;

  :global(.dropdown-toggle) {
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 14px !important;
    color: $CodGray;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid $DarkAthensGray;
    padding-right: 14px;
    padding-left: 14px;
    height: 36px;

    svg {
      margin-right: 8px;
    }
  }

  :global(.dropdown-toggle)::after {
    content: "\e900";
    font-family: 'icomoon' !important;
    border: none !important;
    font-size: 10px;
    color: $CodGray;
    margin-left: 15px;
  }

  :global(.dropdown-menu) {
    width: 100%;
  }

  :global(.dropdown-menu) {
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(134, 146, 164, 0.08);
    border: none;
    padding: 0;

    :global(.dropdown-item) {
      font-size: 12px;
      color: $CodGray;
      padding: 8px 12px !important;
      font-family: SofiaPro-Regular;
      display: flex;
      align-items: center;

      span {
        margin-right: 7px;
        font-size: 15px;
        color: $RollingStone;
      }

      :global(.icon-external) {
        margin-left: -2px;
      }
    }

    :global(.dropdown-item):hover {
      background-color: $AthensGray;
    }

    :global(.dropdown-item):first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    :global(.dropdown-item):last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    :global(.dropdown-item):active {
      background: white !important;
      color: $CodGray !important;
    }
  }
}

.hover {
  :global(.dropdown-toggle) {
    background-color: white;
  }
}