@import "styles/vars";

.connecting {
  height: 54px;
  border: 1px solid $DarkAthensGray;
  padding: 0 16px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 22px;

  span {
    margin-left: 10px;
  }

  button {
    color: $CodGray;
    font-size: 12px;
    font-family: SofiaPro-Medium;
    width: 74px;
    height: 32px;
    border-radius: 8px;
    margin-left: 9px;
    background-color: $CatskillWhite;
    border: 1px solid $CatskillWhite;
    outline: none;
  }
}

.error {
  color: $Punch;
  border: 1px solid $Punch;
}

.btn {
  width: 100%;
  height: 72px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid $DarkAthensGray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease-in;
  color: $CodGray;
  padding: 0 16px;
  margin-bottom: 30px;

  img {
    height: auto;
  }
}

.name {
  font-size: 16px;
  color: $CodGray;
  font-family: SofiaPro-Medium;
}

.msg {
  margin-top: 7px;
  font-size: 14px;
  color: $RollingStone;
}