@import "styles/vars";

.form {
  input {
    border: 1px solid $BlueRibbon;
  }

  input:focus {
    border: 1px solid $ToreaBay;
  }
}

.container {
  padding-bottom: 50px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 17px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.box:hover {
  background-color: $AthensGray;
}

.info {
  margin-left: 11px;
}

.text {
  font-size: 16px;
  font-family: SofiaPro-Medium;
  color: $CodGray;
  margin-bottom: 0;
}

.desc {
  font-size: 14px;
  line-height: 1.29;
  color: $RollingStone;
  margin-bottom: 0;
}

.circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: $CatskillWhite;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 14px;
    color: $RollingStone;
    margin-top: 1px;
    margin-right: 1px;
  }
}

.submit {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: $BlueRibbon;
  background-color: white;
  border: none;
  outline: none;
  box-shadow: 0 2px 10px 0 rgba(134, 146, 164, 0.08);
  border-top: 1px solid $CatskillWhite;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  span {
    font-size: 14px;
    font-family: SofiaPro-Medium;
  }
}

.scroll {
  overflow-y: auto;
  max-height: 365px;
  margin: 0 -17px;
}