@import "styles/vars";

.swap-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    color: $CodGray;
  }

  div:first-child {
    font-family: SofiaPro-Medium;
    font-size: 22px;
  }

  div:last-child {
    font-size: 18px;
  }

  img {
    margin-right: 9px;
  }
}

.arrow {
  font-size: 18px;
  display: block;
  color: $Manatee;
  margin: 12px 0;
}

.message {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 24px;
  color: $Manatee;
  font-family: SofiaPro-Regularitalic;
}

.info {
  background-color: $AthensGray;
  margin: 0 -17px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 19px 17px 32px 17px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container:not(:last-child) {
  margin-bottom: 19px;
}

.label {
  font-size: 14px;
  line-height: 1.29;
  color: $RollingStone;

  span {
    font-size: 13px;
    margin-left: 4px;
    color: $Bombay;
    cursor: pointer;
  }
}

.value {
  font-size: 14px;
  line-height: 1.29;
  color: $CodGray;
  display: flex;
  align-items: center;

  :global(.icon-arrow-repeat) {
    color: $RollingStone;
    font-size: 16px;
    margin-left: 6px;
  }
}

.important {
  color: $Shamrock;
}