@import "styles/vars";

.card {
  width: 343px;
  border-radius: 8px;
  background-color: white;
  padding: 28px 12px 14px 12px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.07);
  z-index: -1;
  display: block;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container:not(:last-child) {
  margin-bottom: 12px;
}

.label {
  font-size: 14px;
  line-height: 1.29;
  color: $RollingStone;

  span {
    font-size: 13px;
    margin-left: 4px;
    color: $Bombay;
    cursor: pointer;
  }
}

.info {
  font-size: 14px;
  line-height: 1.29;
  color: $CodGray;
}

.path {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: $CodGray;
  font-weight: 500;

  :global(.icon-arrow-right) {
    margin: 0 4px;
    font-size: 9px;
    color: $DarkAthensGray;
  }
}

.path-container:last-child :global(.icon-arrow-right) {
  display: none;
}

.button-group {
  display: flex;

  button {
    height: 24px;
    border-radius: 4px;
    padding: 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $RollingStone;
    font-size: 12px;
    background-color: $LightAthensGray;
    border: 1px solid $LightAthensGray;
    margin-left: 6px;
    transition: 0.2s ease-in;
  }

  button:global(.active) {
    background-color: $BlueRibbon;
    border: 1px solid $BlueRibbon;
    color: white;
  }

  button:global(.active):hover {
    background-color: $ToreaBay;
    border: 1px solid $ToreaBay;

    input {
      background-color: $ToreaBay;
    }
  }
}

.custom {
  width: 80px;

  input {
    width: 60px;
    border: none;
    outline: none;
    background-color: $LightAthensGray;
    color: $RollingStone;
    padding-left: 0;
    transition: 0.2s ease-in;
  }
}

.custom:global(.active) {
  input {
    background-color: $BlueRibbon;
    color: white;
  }

  input::placeholder {
    color: white;
  }
}