@import "styles/vars";

.box {
  padding-bottom: 32px;

  button:not(:last-child) {
    margin-bottom: 24px;
  }
}

.btn {
  width: 100%;
  height: 54px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid $DarkAthensGray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease-in;
  font-size: 20px;
  color: $CodGray;
  padding: 0 12px;

  span {
    color: $Waterloo;
    transform: scale(-1, 1);
    transition: 0.2s ease-in;
  }

  img {
    height: auto;
  }
}

.btn:hover {
  background-color: white;
  border: 1px solid $BlueRibbon;

  span {
    color: $BlueRibbon;
  }
}

.btnLink {
  width: 100%;
  height: 54px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid $DarkAthensGray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease-in;
  font-size: 20px;
  color: $CodGray;
  padding: 0 12px;

  text-decoration: none;
  margin-bottom: 24px;

  span {
    color: $Waterloo;
    transform: scale(-1, 1);
    transition: 0.2s ease-in;
  }

  img {
    height: auto;
  }

  a {
    text-decoration: none;
    display: block;
  }

  a:hover {
    text-decoration: none;
  }
}

.btnLink:hover {
  background-color: white;
  border: 1px solid $BlueRibbon;

  span {
    color: $BlueRibbon;
  }
}

.circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: $AthensGray;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}